.header {  
   background-color:#910691; 
   padding: 32px 16px;
    border-radius: 10px 10px;
    /* width: 100%; */
}
.header .title {
    color: #eacef0ee;
    text-shadow:2px -1px 0px #e64efa;
    padding: 16px;
    font-size: 40px;
    text-align: center;
}
.header .subtitle {
    color:rgb(248, 151, 232);
    font-size: 16px;
    font-style: oblique;
    text-align: center;


}