.todo-list {
  
  display: flex;
  flex-direction: column;
  background-color: #cbeef7ef;
    

}

.todo-list .todo-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  font: size 30px;
  color: rgba(252, 40, 252, 0.52);
}
  /* border: 2px solid rgb(126, 123, 123); */


.todo-list .todo-row {
  display: flex;
  position: relative;
  width: 100%;
 
  border-top: 1px solid #457B9D;
  justify-content: space-between;
}

.todo-list .button-removeAll{
  border-radius: 6px;
  background-color:#33bdef;
}

.todo-list .button-done {
  margin-right: 8px;
 
}


.todo-list .button-del {
  scroll-margin-top: 2px;
}

.todo-list .button-done:hover {
	background:linear-gradient(to bottom, #94f780 5%, #18331e 100%);
	background-color:#abe4ab;
}

.todo-list .button-del:hover{
  background:linear-gradient(to bottom, #fa1098 5%, #690277 60%);
  background-color:#abe4ab;
}
.todo-list .button-removeAll:hover{
  background:linear-gradient(to bottom, #fa1098 5%, #690277 50%);
  background-color:#abe4ab;
}
