.todo-form {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    border-bottom: 2px solid #024470da;
    padding-bottom: 16px;
    margin-bottom: 20px;
}

.todo-form h4 {
padding-bottom:12px;
color: rgba(248, 66, 248, 0.52);
}


.todo-form form {
    display: flex;
    flex-direction: column;
}

.todo-form .form-input {
    border: 2.5px solid #187ebda2;
    background-color: #ffffff;
    padding: 8px;
    margin-bottom: 10px;
    width: 50%;
}

.todo-form .form-textarea {
      border: 2px solid  #187ebda2;
      background-color: #ffffff;
      margin-bottom: 8px;
      padding: 6px;
}


/* .todo-form .id{
    border: 2px solid #386b8a;
    background-color: cadetblue;
  } */