.todo {
display:flex;
align-items:baseline;
flex-direction: row;
/* padding: left 80px; */
position:relative;
}


.todo .todo-nd{
 display:flex;
 justify-content: space-between;
 flex-direction: column;
}

.todo .todo-name{
font-size:16px;
padding-bottom: 10px;
font-style: italic;
color: darkmagenta;

}

.todo .todo-description {
 font-size: 14px;
 font-family: 'Times New Roman', Times, serif;

}


.todo .todo-date {
    font-size: 12px;
    font-family:  'Times New Roman', Times, serif;
    color: #012901;
   

} 


.todo .todo-done {
    color: #012901;
    font-size:10px;
    border-radius: 8%;
    font-variant-position: normal;
    font-weight: 900;
    position: relative;
    top:1px;
    left:0;
}
.todo .todo-done::before {
    content: '✓';
 
}
