
@import './global.css';




 /* https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557; */

body { 
    background-color: #c0bebe
}

.app {

    display: block;
    font-size: 18px;
    color: rgb(17, 15, 15);
    margin: 32px 0 0 0; 
    padding: 0px;
}

.container {
    width: 600px;
    margin: 0 auto;
    min-height: 300px;
    background-color: #cbeef7ef;
    border-radius: 15px;
    box-shadow: 10px 10px 20px 5px #e4ebe2
}

.content {
    width:auto;
    padding: 32px 16px;

} 
.button {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:2px -1px 0px #303442;
}

.button:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}

.button:active {
	position:relative;
	top:1px;
}

.button:disabled{
	background-color:rgb(150, 144, 144);
	color:slategray;
}
/* .button button-add {

} */